{% load staticfiles %}
{% block content %}
<!--Card-->
<!--Card-->

<div class="card d-lg-flex mb-r" style="background-color: #fff">

    <!--Bacground color-->
    <div class="card-img-top" style="background-color: #2f4f4f;
height: 10rem" alt="Card image cap">
    </div>

    <!--Avatar-->
    

    <div class="card-body text-center" style="color: #2f4f4f;">
    <div class="avatar"><img src="{% static 'about/T.jpg' %}" class="rounded-circle" style="margin-top: -6rem; padding: 3px; background-color:#fff ; height: 10rem;">
    </div>
        <!--Name-->
        <h4 class="card-title">My Passion and Personality</h4>
        <!--Quotation-->
        <i class="fa fa-quote-left"></i> {{ bio_desc.description|safe }} 
    </div>

</div>


{% endblock %} 

		