{% load staticfiles %}
<div class="container-fluid bg-1 text-center">
	<div class="about">
		<h3 class="margin"> MY PASSION AND PERSONALITY</h3>
		<hr class="border-grey" style="margin:auto;width:20%;color:#000"><br>
		<img src="{% static 'about/T.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="300" height="300">
		
	  	<p>{{ bio_desc.description }}</p>
	</div>

</div>


		<!-- LightWidget WIDGET -->
		<script src="//lightwidget.com/widgets/lightwidget.js"></script>
		<iframe src="//lightwidget.com/widgets/aaeec5310e5b51c89a168f8c658cbbfe.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;">

		</iframe>
