{% load static %}
<div class="container-fluid bg-3 text-center">
	<h3 class="margin">LATEST BLOGS</h3>

	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<blockquote class="embedly-card" data-card-key="278d60887ab64c34a6b134ce0a98173c" data-card-controls="0" data-card-type="article-full"><h4><a href="https://medium.com/@julzmbugua">Julius Mbugua - Medium</a></h4><p>The Andela Experience Day 1 & Day 2 "Concentration is the game, keep the rhythm if you can......" I'll be honest I really suck at concentrating. I' m that guy who'll pick up my phone if the first few scene of a movie don't intrigue me.</p></blockquote>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<blockquote class="embedly-card" data-card-key="278d60887ab64c34a6b134ce0a98173c" data-card-controls="0" data-card-type="article-full"><h4><a href="https://medium.com/@julzmbugua">Julius Mbugua - Medium</a></h4><p>The Andela Experience Day 1 & Day 2 "Concentration is the game, keep the rhythm if you can......" I'll be honest I really suck at concentrating. I' m that guy who'll pick up my phone if the first few scene of a movie don't intrigue me.</p></blockquote>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<blockquote class="embedly-card" data-card-key="278d60887ab64c34a6b134ce0a98173c" data-card-controls="0" data-card-type="article-full"><h4><a href="https://medium.com/@julzmbugua">Julius Mbugua - Medium</a></h4><p>The Andela Experience Day 1 & Day 2 "Concentration is the game, keep the rhythm if you can......" I'll be honest I really suck at concentrating. I' m that guy who'll pick up my phone if the first few scene of a movie don't intrigue me.</p></blockquote>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			</div>
		</div>
	</div>
</div>

