{% load django_markdown %}
{% block content %}
{% block blog_entries %}
	    
	
<div class="container-fluid bg-3 text-center">
	<h2 class="margin">MY LATEST BLOG POST</h2>
	<div class="row">
{% for object in queryset %}
		<div class="col-sm-4">
			<div class="card">				
				<p><a href="blog/detail/{{object.id}}/" class="btn"><img style="width:100%; height:240px; position: relative;" src="{{ object.blog_header.url }}"</a></p>
				<h1><a href="blog/detail/{{object.id}}/" class="btn">{{ object.blog_title }}</a> </h1>
				<p class ="meta">{{ object.created|date:"M d, Y" }} </p>

			</div>
		</div>
	
{% endfor %}
	</div>
</div>
{% endblock %}
{% endblock%}
