{% load django_markdown %}
{% block content %}
{% block blog_entries %}
	    
	
<div class="container-fluid bg-3 text-center">
	<h2 class="margin">My Latest Blog Posts</h2>
	<div class="row">
		{% for object in queryset %}
		<div class="col-lg-4 col-sm-12 mb-r">
			<a href="blog/detail/{{object.id}}/">
			<div class="card card-inverse">
		  		<img class="card-img-top" src="{{ object.blog_header.url }}" alt="Card image cap" style="height: 300px">
		  		<div class="card-block">
		    		<h5 class="card-title py-3">{{ object.blog_title |upper }}</h5>
		    		<p class ="card-text text-muted">{{ object.created|date:"M d, Y" }} </p>
				</div>
	  		</div>
	  		</a>
		</div>	
		{% endfor %}
	</div>
</div>
	
{% endblock %}
{% endblock%}
<br>
<div class="d-flex justify-content-center mb-r">
	    <a class="btn btn-outline-primary btn-lg p-3" href="{% url 'web:blog' %}"><i class="fa fa-clone left"></i> VIEW MORE BLOGS</a>
	</div>
