{% extends "base.html" %}

{% load django_markdown %}
{% block content %}

{% block blog_entries %}
	    
	
<div class="container-fluid bg-3 text-justify">
	<div class="row">
{% for object in object_list %}
	
		<div class="col-sm-6">
			<div class="card">
				<h1><a href="detail/{{object.id}}/" class="btn">{{ object.blog_title }}</a> </h1>
				<p class ="meta">{{ object.created }} </p>
				<p>{{ object.blog_content|markdown|safe|slice:"1"}}</p>
				<a href="detail/{{object.id}}/" class="btn">  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Read More</a>
			</div>
		</div>
	
{% endfor %}
	</div>
</div>
{% endblock %}
{% endblock%}
