A few fun facts about myself; I love coffee, my favorite number is 9, I'm a huge fan of Electronic music & Football, I play video games like it's my life, I spent most my free time in a place called Not Yet. <br> For those unfamilliar, Not Yet is a happy place where all the bad things likely to occur have not happened...yet. i like to think of it as a fragile bubble which could burst anytime giving way to a realm of I am F*cked .<br> But not now.<br> Not Yet. 

A few fun facts about myself; I love coffee, my favorite number is 9, I'm a huge fan of Electronic music & Football, I play video games like it's my life, I knew what I wanted to do at the age of 13, I am currently learning how to skate, my favorite food is bacon.



<!-- <li><a href="{% url 'web:homepage' %}">Home</a></li>
                  <li><a href="{% url 'web:portfolio' %}">Portfolio</a></li>
                  <li><a href="{% url 'web:about' %}">About</a></li>
                  <li><a href="{% url 'web:resume' %}"> Resume </a></li>
                  <li><a href="{% url 'web:blog' %}"> Blog </a></li>
                  <li><a href="{% url 'web:contact' %}"> Contact </a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->