{% load static %}
<footer class="container-fluid text-center">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <p class="margin">T</p> <br>
  <p class="text-align-center">&copy; 2017 All rights reserved </p>
  <p class="text-align-center">
    <a href="#"><i class="fa fa-google-mail"></i></a>
    <!-- <a href="#"><i class="fa fa-facebook-official"></i></a> -->
    <!-- <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
    <a href="https://www.twitter.com/tittoIX"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/t.itto#"><i class="fa fa-instagram"></i></a>
    <a href="https://www.github.com/julzmbugua"><i class="fa fa-github"></i></a>
    <a href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
  </p>
  

</footer>
