<section class="recent-posts p-0">
    <div class="section-title p-0">
        <h2><span>Gallery</span></h2>
    </div>
    <div class="row">
        <div class="card-columns listrecent p-0">
            <!-- begin post -->
            {% for picture in pictures %}
            <div class="card">
                <a href="{{picture.picture.url}}">
        <img class="img-fluid" src="{{picture.picture.url}}" alt="">
      </a>
            </div>
            {% endfor %}
            <!-- end post -->
        </div>
    </div>
</section>