<!-- {% load static %}
<div class="container-fluid">
<div class="container-fluid bg-3 text-center">
    <div class="row">   
        <div class="col-sm-4">
                <div class="imgBox">
                    <img src="{{ graphic_item.graphic.url }}">
                    <div class="container vertical-center">
                        <div class="content">{{ graphic_item.site_name }}</div>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>
                        
                    </div>
                </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_1.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_1.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_2.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_2.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    
    </div>
</div>
 -->

{% load static %}

<section class="section">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4 text-center"><strong>My Latest Projects</strong></h2>
    
    <div class="container-fluid p-0">
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-sm-4 p-0">
            <div class="cover-img" style="background-image: url({{graphic_item.graphic.url}});background-size: cover; background-position: center; height: 20rem;">
    <div class="cardd-image container-fluid full-bg-img flex-center text-center text-white rgba-black-strongg" style="">
        <div class="">
            <div class="container-fluid">
                <!--Section heading-->
                <p class="flex-item font-bold"  style="font-size: 1rem;"><strong><i class="fa fa-pie-chart"></i> Marketing</strong></p>  
                <h1 class="flex-itemm section-heading h1 text-muted"><strong>{{graphic_item.site_name}}</strong></h1>
                <div class="flex-itemm">
                    <a class="btn btn-outline-secondary btn-sm p-3" href="{% url 'web:blog' %}"><i class="fa fa-clone left"></i>VIEW SITE</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 p-0">
            <div class="cover-img mb-r" style="background-image: url({{graphic_item.graphic.url}});background-size: cover; background-position: center; height: 20rem;">
    <div class="cardd-image container-fluid full-bg-img flex-center text-center text-white rgba-black-strongg" style="">
        <div class="">
            <div class="container-fluid">
                <!--Section heading-->
                <p class="flex-item font-bold"  style="font-size: 1rem;"><strong><i class="fa fa-pie-chart"></i> Marketing</strong></p>  
                <h1 class="flex-itemm section-heading h1 text-muted"><strong>{{graphic_item.site_name}}</strong></h1>
                <div class="flex-itemm">
                    <a class="btn btn-outline-secondary btn-sm p-3" href="{% url 'web:blog' %}"><i class="fa fa-clone left"></i>VIEW SITE</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 p-0">
            <div class="cover-img mb-r" style="background-image: url({{graphic_item.graphic.url}});background-size: cover; background-position: center; height: 20rem;">
    <div class="cardd-image container-fluid full-bg-img flex-center text-center text-white rgba-black-strongg" style="">
        <div class="">
            <div class="container-fluid">
                <!--Section heading-->
                <p class="flex-item font-bold"  style="font-size: 1rem;"><strong><i class="fa fa-pie-chart"></i> Marketing</strong></p>  
                <h1 class="flex-itemm section-heading h1 text-muted"><strong>{{graphic_item.site_name}}</strong></h1>
                <div class="flex-itemm">
                    <a class="btn btn-outline-secondary btn-sm p-3" href="{% url 'web:blog' %}"><i class="fa fa-clone left"></i>VIEW SITE</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    </div>

   

</section>
 <div class="d-flex justify-content-center mb-r">
        <a class="btn btn-outline-primary btn-lg p-3" href=""><i class="fa fa-clone left"></i> VIEW MORE PROJECTS</a>
    </div>
<!--Projects section v.4-->
       