<!-- {% load static %}
<div class="container-fluid">
<div class="container-fluid bg-3 text-center">
	<div class="row">	
		<div class="col-sm-4">
  				<div class="imgBox">
	        		<img src="{{ graphic_item.graphic.url }}">
	        		<div class="container vertical-center">
	       			 	<div class="content">{{ graphic_item.site_name }}</div>
				  			<p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>
						
					</div>
				</div>
		</div>
		<div class="col-sm-4">
			<div class="center">
  				<div class="imgBox">
	        		<img src="{{ graphic_item_1.graphic.url }}">
	       			 <div class="container">
	       			 	<div class="content">
				  			<h1> {{ graphic_item_1.site_name }}</h1><br>
				  			<p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="center">
  				<div class="imgBox">
	        		<img src="{{ graphic_item_2.graphic.url }}">
	       			 <div class="container">
	       			 	<div class="content">
				  			<h1> {{ graphic_item_2.site_name }}</h1><br>
				  			<p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

						</div>
					</div>	
				</div>
			</div>
		</div>
	
	</div>
</div>
 -->

{% load static %}

 <section class="section p-0">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4 text-center"><strong>My Latest Projects</strong></h2>
    

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="purple-text"><i class="fa fa-code"></i><strong> Technology</strong></h6>
                        <h3 class="card-title py-3 font-bold"><strong>{{ graphic_item.site_name }}</strong></h3>	
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-primary p-3" href="{{graphic_item.site_urls}}"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="pink-text"><i class="fa fa-eye"></i><strong> Travel</strong></h6>
                        <h3 class="card-title py-3 font-bold"><strong>{{ graphic_item_1.site_name }}</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-primary p-3" href="{{ graphic_item_1.site_urls}}"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="green-text"><i class="fa fa-book"></i><strong> Education</strong></h6>
                        <h3 class="card-title py-3 font-bold"><strong>{{ graphic_item_2.site_name }}</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-primary p-3" href="{{ graphic_item_2.site_urls}}"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

   

</section>
 <div class="d-flex justify-content-center mb-r">
	    <a class="btn btn-outline-primary btn-lg p-3" href="{{graphic_item.site_urls}}"><i class="fa fa-clone left"></i> VIEW MORE PROJECTS</a>
	</div>
<!--Projects section v.4-->
            