<!-- {% load static %}
<div class="container-fluid">
<div class="container-fluid bg-3 text-center">
    <div class="row">   
        <div class="col-sm-4">
                <div class="imgBox">
                    <img src="{{ graphic_item.graphic.url }}">
                    <div class="container vertical-center">
                        <div class="content">{{ graphic_item.site_name }}</div>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>
                        
                    </div>
                </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_1.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_1.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_2.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_2.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    
    </div>
</div>
 -->

{% load static %}

<section class="section p-0">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4 text-center"><strong>My Latest Projects</strong></h2>
    

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url({{graphic_item.graphic.url}}); background-size: cover; background-position: center; height: 25rem;">
                <div class="container px-5 text-white d-flex align-items-center">
                    <div class="px-5">
                    <div class="content px-5">
                        <h3 class="card-title font-bold"><strong>{{graphic_item.site_name}}</strong></h3>

                        <p class=""><a class="btn btn-outline-primary btn-md" href="{{graphic_item.site_url}}"><i class="fa fa-clone left"></i> VIEW SITE</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url({{graphic_item.graphic.url}}); background-size: cover; background-position: center; height: 25rem;">
                <div class="container px-5 text-white d-flex align-items-center">
                    <div class="px-5">
                    <div class="content px-5">
                        <h3 class="card-title font-bold"><strong>{{graphic_item.site_name}}</strong></h3>

                        <p class=""><a class="btn btn-outline-primary btn-md" href="{{graphic_item.site_url}}"><i class="fa fa-clone left"></i> VIEW SITE</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-4 mb-r">
            <div class="card card-image" style="background-image: url({{graphic_item.graphxic.url}}); background-size: cover; background-position: center; height: 25rem;">
                <div class="container px-5 text-white d-flex align-items-center">
                    <div class="px-5">
                    <div class="content px-5">
                        <h3 class="card-title font-bold"><strong>{{graphic_item.site_name}}</strong></h3>

                        <p class=""><a class="btn btn-outline-primary btn-md" href="{{graphic_item.site_url}}"><i class="fa fa-clone left"></i> VIEW SITE</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

   

</section>
 <div class="d-flex justify-content-center mb-r">
        <a class="btn btn-outline-primary btn-lg p-3" href=""><i class="fa fa-clone left"></i> VIEW MORE PROJECTS</a>
    </div>
<!--Projects section v.4-->
       