{% load static %}

<div class="parallax cover-img" style="background-image: url({{cover_img_1.cover.url}});">
    <div class="container-fluid rgba-black-strong" style="min-height: 450px;">
	    <div class="d-flex mb-r text-center text-white pt-5"">
		  	<div class="container-fluid pt-5">
			    <!--Section heading-->
			    <p class="font-bold font-italic pt-5"  style="font-family: 'gooddogregular'; font-size: 2rem;"><strong>Have a App idea and need help from an expert?</strong></p>  
			    <h1 class="section-heading h1 text-muted"><strong>HIRE A WEB APP DEVELOPER TODAY</strong></h1>
			    <div class="p">
			    	<a class="btn btn-outline-secondary btn-lg pb-3" href="{% url 'web:blog' %}"><i class="fa fa-clone left"></i> CONTACT ME TODAY</a>
			    </div>
		    </div>
		</div>
	</div>
</div>




