{% extends "admin/base.html" %}
{% load static %}


{% block title %} Tito | Site Admin{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Tito Mbugua</a></h1>
<style type="text/css">
	html {
		background-color:#fff;
	}
	.nav-global {
		background-color: #000 !important;
	}
</style>
{% endblock %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
{% block nav-global %}{% endblock %}
