{% extends "web/blog_list.html" %}

{% block content %}
{% load django_markdown %}

{% block blog_entries %}
      
<div class="container-fluid">
<div class="card">
  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(116).jpg" height="400" alt="Card image">
</div>
  
    <div class="card d-lg-flex" style="margin-top: -50px; width:90%; margin-left: 5%; height: 150px">
        <div class="card-body text-center">
          <h2 class="card-title"><a>{{ object.blog_title }}</a></h2>
          <h6 class="card-subtitle mb-2 text-muted">Written on, {{ object.created }}</h6>
        </div>

  </div>

           <!--Excerpt-->
<div class="text-justify w-90 ml-5 mr-5" id="blog">
                <p class="img-fluid">{{ object.blog_content|markdown|safe }}</p>
            </div>
</div>
{% endblock %}
{% endblock%}





