{% extends "layout.html" %}

{% load django_markdown %}
{% block content %}

{% block blog_entries %}
	    
	
<div id="blog-snippet" class="container-fluid bg-3 text-center">
	<div class="row">
{% for object in object_list %}
		<div class="col-lg-4 col-md-12 mb-r">
			<div class="card">
				<a href="detail/{{object.id}}/"><img style="width:100%; height:200px;" src="{{ object.blog_header.url }}"</a>
				<h4><a href="detail/{{object.id}}/">{{ object.blog_title|upper }}</a> </h4>
				<p class ="meta">{{ object.created }}</p>
				<p>{{ object.blog_content|markdown|safe|slice:"100"}}</p>
				<a href="detail/{{object.id}}/" class="btn btn-outline-primary">  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Read More</a>
			</div>
		</div>
	
{% endfor %}
	</div>
</div>


{% endblock %}
{% endblock%}

